// all variables

:root {
   --primary-red: hsl(0, 36%, 70%);
   --primary-softred: hsl(0, 93%, 68%);
   --dark-gray-red: hsl(0, 6%, 24%);
   --lg-one: #f8c3c4;
   --lg-two: #e99090;
   --lg-one-hover: #fcdbdc;
   --lg-two-hover: #f8c7c8;
   --border: #ddd1d3;
   --box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
   --box-shadow-hover: 0 15px 20px rgba(0, 0, 0, 0.25);
   --error: #ee5f60;
   --background-mobile: #fefaf9;
}
